openai
chromadb
python-dotenv
requests
tiktoken
pypdf
beautifulsoup4
streamlit
langchain
langchain-classic
langchain-openai
langchain-community
langchain-community
langchain-text-splitters
unstructured   # for UnstructuredHTMLLoader